<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<head lang="en">
  <title>Your profile</title>
</head>

<body>
  <div class="row" layout:fragment="content">
    <!-- // 개인정보 시작 -->
    <h2 class="indigo-text center">Personal info</h2>
    <form th:action="@{/profile}" method="post" class="col m8 s12 offset-m2" th:object="${profileForm}">
      <div class="row">
        <div class="input-field col s6">
          <input id="twitterHandle" type="text" th:field="${profileForm.twitterHandle}" th:errorclass="invalid"/>
          <label for="twitterHandle">Last Name</label>
          <div th:errors="*{twitterHandle}" class="red-text">Error</div>
        </div>
        <div class="input-field col s6">
          <input id="email" type="text" th:field="${profileForm.email}" th:errorclass="invalid"/>
          <label for="email">Email</label>
          <div th:errors="*{email}" class="red-text">Error</div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="birthDate" type="text" th:field="${profileForm.birthDate}" th:placeholder="${dateFormat}" th:errorclass="invalid"/>
          <label for="birthDate">Birth Date</label>
          <div th:errors="*{birthDate}" class="red-text">Error</div>
        </div>
      </div>
      <div class="row s12">
        <button class="btn waves-effect waves-light" type="submit" name="save">Submit
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </form>
    <!-- // 개인정보 끝 -->

  </div>
</body>

</html>